@media print {
  #picture,
  .fa-minus-square,
  .fa-plus-square,
  .print,
  .fa-link,
  .social {
    display: none;
  }
  .block {
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .grid {
    transform: none;
    opacity: 1;
    height: initial;
  }
  a {
    text-decoration: none;
  }
  h3 {
    text-align: left;
  }
  body {
    padding-top: 20px;
  }
  #over-mij {
    border: 1px solid grey;
    padding: 20px;
  }
}
